<div class="container col-md-7" id="con">
  <h1 class="text-center" style="color:brown;">Get Customer Consent</h1>
  <hr style="border-top:dotted 1px brown;">
    Please read the following:<br>
  In order to determine your eligibility and/or rate, we'll use information from a customer reporting agency that may include:
<br/><br/>
<ul class="list">
    <li>Credit information on a member in your household.</li>
    <li>Loss history information on all named applications.</li>
</ul>
Would you like more information?
<p style="font-weight: bold;" >Contact our nearest branch or agency</p><br/><br/>
<div>
<label class="checkbox-inline">
      <input type='checkbox' onchange="document.getElementById('bt').disabled = !this.checked;"
      name='agree' id='agree' value=''> I have read the required notification to the customer and understand customer reports cannot be run before I provide this notification.</label>
</div>
</div>
